pkgbase = minimal-gnome
	pkgdesc = A minimal Gnome installation
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/brunomiguel/minimal-gnome
	arch = any
	license = GPL3
	depends = gnome-shell
	depends = nautilus-performance
	depends = gnome-terminal
	depends = gedit
	depends = gedit-plugins
	depends = gnome-tweak-tool
	depends = gnome-control-center
	depends = xdg-user-dirs
	depends = eog
	depends = eog-plugins
	depends = file-roller
	depends = evince
	depends = gnome-system-monitor
	depends = epiphany
	depends = dconf-editor

pkgname = minimal-gnome
